body {
    box-sizing: content-box;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    padding:0;
    margin:0;
}

.header {
    width : 100%;
    height:70px;
    background-color:rgb(67, 66, 66);
    margin-bottom:15px;
}

#add-meetup-form {
    display:flex;
    flex-wrap:wrap;
    margin:auto;
    justify-content: space-around;
    border-radius:10px;
    width:30%;
    height:200px;
    background-color:rgba(162, 161, 161, 0.501);
    padding: 15px;
}

.titre, .date, .location, .participant, .intervenant, .description {
    border-radius:2px;
    border:none;
    width: 45%;
    height: 30px;
    padding: 5px;
}


#add-meetup-button {
    background-color: rgba(46, 213, 46, 0.884);
    width:80px;
    height:40px;
    border-radius:5px;
    border:none;
    text-decoration:none;
}

#add-meetup-button:hover {
    color:white;
    cursor: pointer;
}

.meetups {
    margin-top:50px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-around;
}

.supprimer {
    background-color:rgba(255, 0, 0, 0.802);
    border:none;
    border-radius:5px;
    width:80px;
    height:40px;
}

.supprimer:hover {
    color:white;
    cursor: pointer;
}

.plus {
    background-color:blue;
    border:none;
    border-radius:5px;
    width:80px;
    height:40px;
}

.plus:hover {
    color:white;
    cursor: pointer;
}

.modifier {
    background-color:rgb(216, 166, 3);
    border:none;
    border-radius:5px;
    width:80px;
    height:40px;
}

.modifier:hover {
    color:white;
    cursor: pointer;
}

.js-modif-envoi{
    background-color: rgba(46, 213, 46, 0.884);
    border:none;
    border-radius:5px;
    width:80px;
    height:40px;
}

.js-modif-envoi:hover {
    color:white;
    cursor: pointer;
}

.meetup {
    display:flex;
    flex-direction:column;
    height:auto;
    width:20%;
    border:solid grey 2px;
    border-radius:10px;
    padding:8px;
    margin-bottom:5px;
}